<div class="col s12 offset-md1 l10 offset-l1">
  <ul class="pagination">
    <li id="previous"><button class="prev waves-effect waves-teal btn-flat" (click)="previousPage()" [class.disabled]="disablePrevious"><i class="material-icons">chevron_left</i></button></li>
    <li class="waves-effect"><a routerLink="/cameras/1">1</a></li>
    <li class="waves-effect"><a routerLink="/cameras/2">2</a></li>
    <li class="waves-effect"><a routerLink="/cameras/3">3</a></li>
    <li class="waves-effect"><a routerLink="/cameras/4">4</a></li>
    <li class="waves-effect"><a routerLink="/cameras/5">5</a></li>
    <li class="waves-effect"><a routerLink="/cameras/6">6</a></li>
    <li class="waves-effect"><a routerLink="/cameras/7">7</a></li>
    <li class="waves-effect"><a routerLink="/cameras/8">8</a></li>
    <li class="waves-effect"><a routerLink="/cameras/9">9</a></li>
    <li class="waves-effect"><a routerLink="/cameras/10">10</a></li>
    <li class="waves-effect"><button class="next waves-effect waves-teal btn-flat" (click)="nextPage()" [class.disabled]="disableNext"><i class="material-icons">chevron_right</i></button></li>
  </ul>
</div>